* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 100%;
    background: #f9f9f9;
    color: #252122;
}

body,
textarea {
    font-family: "museo-sans", sans-serif;
}

.container {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/** Options **/

.options {
    width: 100%;
    height: 2em;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.options .about {
    position: absolute;
    top: 1em;
    left: 2em;
    color: #e1e1e1;
    letter-spacing: .2em;
    font-size: .7em;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
}

.options.closed {
    opacity: 0;
}

.options .about:hover {
    color: #333;
}

.options .about p { margin: 0; }

.hide { display: none; }

/** About block **/

.info {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
    width: 35em;
    position: absolute;
    color: #888;
    font-weight: 200;
    letter-spacing: .3px;
    font-family: sans-serif;
    font-size: 1.2em;
    background: #fff;
    top: 1.5em;
    padding: 1em;
    text-transform: none;
    line-height: 1.5;
}

.info:before {
    content: "";
    position: absolute;
    left: 1em;
    top: -6px;
    border-bottom: 5px solid rgba(0,0,0,.1);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.options .block,
.options .block-right {
    list-style: none;
    padding: 0;
    margin: .5em 0;
    float: left;
}

.options .block-right {
    margin-left: 3em;
    float: right;
}

.options li {
    cursor: pointer;
    color: #c4c4c4;
    float: left;
    margin: .27em 3em 0 0;
    line-height: .5;
    text-align: center;
    width: 2.5em;
    height: 2.5em;
}

.options .icon-lefttoright {
    font-size: .8em;
    margin: .45em 3em 0 0;
}

.options li:hover,
.options .selected {
    color: #333;
}

.options li:last-child {
    margin-right: 0;
}

/** Content area **/

.title {
    font-family: Georgia, serif;
    display: block;
    width: 100%;
    font-size: 1.7em;
    margin: 1em auto 0;
    background: transparent;
    border: none;
    text-align: center;
}

.title:focus {
    border: none;
    outline: none;
    color: #3d3d3d;
}

.writing.wrapper {
    width: 100%;
    max-width: 90em;
}

.writing {
    position: relative;
    -webkit-transition: none;
       -moz-transition: none;
            transition: none;
}

.writing:after {
    -webkit-transition: none;
       -moz-transition: none;
            transition: none;
    content: "";
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(249,249,249,1) 100%); /* W3C */
    height: 50px;
    width: 100%;
    position: absolute;
    pointer-events: none;
    bottom: 0;
}

.preview {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    padding: 0 15% 5em;
    font-size: 1.4em;
    margin: 1.2em 0 0 2em;
    line-height: 1.5;
    background: #f9f9f9;
    min-width: 100%;
    overflow: scroll;
    z-index: 5;
    height: 100%;
}

.preview.open {
    opacity: 1;
    visibility: visible;
}

.hide-gradient .writing:after {
    opacity: 0;
}

.editable {
    display: block;
    font-size: 1.49em;
    font-weight: 200;
    width: 100%;
    line-height: 1.56;
    height: 60%;
    background: transparent;
    border: none;
    margin: 1.5em auto 0;
    padding: 0 9em;
    -webkit-font-smoothing: antialiased;
    -webkit-animation: fadeIn 2s;
       -moz-animation: fadeIn 2s;
            animation: fadeIn 2s;
}

.editable:focus,
.editable:active {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.full-page {
    overflow: auto;
    height: auto;
}

.printing {
    opacity: 0;
    display: none;
}

/** Status bar **/

.status-bar {
    position: absolute;
    right: 1em;
    top: 3em;
    min-width: 11em;
    height: 1.5em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    color: #333;
    display: none;
}

.a-right {
    text-align: center;
}

.rtl {
    direction: rtl;
}

/* Animations */

.editable,
.title,
.options,
.preview,
body {
    -webkit-transition: color .65s ease-in-out 0s,
                        background .65s ease-in-out 0s,
                        border .65s ease-in-out 0s,
                        opacity .65s ease-in-out 0s;
       -moz-transition: color .65s ease-in-out 0s,
                        background .65s ease-in-out 0s,
                        border .65s ease-in-out 0s,
                        opacity .65s ease-in-out 0s;
         -o-transition: color .65s ease-in-out 0s,
                        background .65s ease-in-out 0s,
                        border .65s ease-in-out 0s,
                        opacity .65s ease-in-out 0s;
        -ms-transition: color .65s ease-in-out 0s,
                        background .65s ease-in-out 0s,
                        border .65s ease-in-out 0s,
                        opacity .65s ease-in-out 0s;
            transition: color .65s ease-in-out 0s,
                        background .65s ease-in-out 0s,
                        border .65s ease-in-out 0s,
                        opacity .65s ease-in-out 0s;
}

/* RWD magic */

@media all and (max-width: 1050px) {
    .editable {
        font-size: 1.4em;
        padding: 0 5em;
    }

    .options .wrapper,
    .container .wrapper {
        width: 70%;
    }

    .writing.wrapper {width: 100%;}
}

@media all and (max-width: 950px) {
    .options li { margin: .27em 1em 0 0; }

    .preview {font-size: 1em;}
}

@media all and (max-width: 650px) {
    .options .wrapper,
    .container .wrapper {
        width: 90%;
    }

    .writing.wrapper {
        width: 100%;
    }

    .title { font-size: 1.2em; }

    .info { width: 25em; }

    .options .block { margin-left: 4em; }

    .editable {
        font-size: 1em;
        padding: 0 3em;
    }
}

@media screen and (max-width: 500px) {
    .options li { margin: .27em 0 0 0; }
    .title { font-size: 1em; }
}

@media print {
    .options,
    .editable { display: none; }

    .title {
        margin-top: 0;
    }

    .printing {
        opacity: 1;
        margin-top: 0;
        display: block;
        width: 100%;
        overflow: visible;
    }

    .wrapper { width: 90%; }

    body, html {
        height: 100%;
        overflow: visible;
        width: 100%;
    }
}