/* Dark theme */

body.dark,
body.dark .preview {
    background: #29292A;
}

.dark .editable,
.dark .title,
.dark .preview {
    color: #f1f1f1;
}

.dark .options .about:hover {
    color: #fff;
}

.dark .options {
    background: #333;
    border-bottom: #000;
    color: #f1f1f1;
}

.dark .writing:after {
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #29292A 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#29292A)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,#29292A 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,#29292A 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,#29292A 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,#29292A 100%); /* W3C */
}

.dark .options li:hover,
.dark .options .selected {
    color: #fff;
}

.monospace {
    font-family: 'courier-prime', monospace;
    font-size: 1.4em;
    line-height: 1.8;
}

.monospace.title {
    font-size: 1.7em;
}